@page "/MenuManager"
@rendermode InteractiveServer
@inject NavigationManager _navigationManager;


<div class="container mt-4">
    <div class="row">
        
    </div>
    
    <div class="row mt-4">
        <div class="col-md-4">
            <img src="https://placehold.co/400x300?text=Menu+Items" class="img-fluid rounded" alt="Menu Items" @onclick="MenuItemEditorClick">
            <h4 class="mt-2">Add New Menu Items</h4>
            <p>Keep track of your menu items to plan out menus.</p>
        </div>
        <div class="col-md-4">
            <img src="https://placehold.co/400x300?text=Menus" class="img-fluid rounded" alt="Order Processing">
            <h4 class="mt-2">Create and Modify Menus</h4>
            <p>Make Menus for all events or times of day.</p>
        </div>
        <div class="col-md-4">
            <img src="https://placehold.co/400x300?text=Analytics" class="img-fluid rounded" alt="Analytics Dashboard">
            <h4 class="mt-2">Real-time Analytics</h4>
            <p>Track your business performance live</p>
        </div>
    </div>
</div>

@code {
    private void MenuItemEditorClick()
    {
        _navigationManager.NavigateTo("MenuItemEditor");
    }
}