
*.cs
*.bin
*.json
*.vsidx
*.v2
*.info
*.cache
*.props
*.cs
*.info
/FoodTruckManager.API/obj
/FoodTruckManager.Shared/obj/Debug
/FoodTruckManager.Shared/obj
/.vs/FoodTruckManager/v17
/FoodTruckManager/obj
/FoodTruckManager/obj
/FoodTruckManager.Shared/obj
/FoodTruckManager.API/obj
